.App {
  min-height:100vh;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
} 
 .search-form{
   min-height: 10vh ;
   display:flex;
   justify-content: center;
   align-items: center ;
 }
 .search-bar{
   width: 50%;
   border:none;
   padding:10px;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
 }
 .search-button{
   background: lightcoral;
   border: none; 
   padding: 10px 20px;
   color:white;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
 }
 .recipes{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }